.analyzer-content-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.analyzer-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #262B31;
}

.analyzer-header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}

.analyzer-header-path {
    height: 72px;
    display: flex;
    flex-direction: row;
}

.analyzer-header-items-count {
    display: flex;
    height: 34px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.analyzer-header-items-count > div {
    align-self: center;
}

.analyzer-header-items-count:hover {
    background-color: #262B31;
}

.analyzer-active-header-items-count {
    display: flex;
    height: 34px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.3s;
    background-color: #262B31;
}

.analyzer-active-header-items-count > div {
    align-self: center;
}

#analyzer-table-headers {
    z-index: 1;
    height: 32px;
}

#analyzer-table-content {
    height: 56px;
}

#analyzer-table-content > #cell {
    color: white;
    font-weight: 200;
    border-bottom: 2px solid #262B31;
    white-space: nowrap;
}

#analyzer-table-headers > #cell {
    color: #868F9C;
    font-weight: 200;
    border-bottom: 2px solid #262B31;
    white-space: nowrap;
}

.analyzer-folder-menu-hover:hover {
    background-color: #262B31;
    padding: 4px;
    border-radius: 4px;
}

.analyzer-folder-menu-hover {
    cursor: pointer;
    padding: 4px;
}

.analyzer-selected-banner {
    position: absolute;
    z-index: 10;
    background-color: #121417;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    border-radius: 4px;
}

.analyzer-selected-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
}

.analyzer-big-loading-banner {
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
}

.analyzer-table-item-status {
    display: flex;
    height: 34px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.3s;
}
.analyzer-table-item-status > div {
    align-self: center;
}

.analyzer-sort-header {
    color: white;
}

.loader {
    margin-left: 50%;
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
