.subscription-api-token-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subscription-api-token-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #262B31;
    height: 72px;
}

.subscription-api-token-header-path {
    display: flex;
    flex-direction: row;
}
